* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

html {
  font-size: 15px;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

.text {
  font-size: 1.2rem;
}

.content-header {
  padding-top: 2rem;
  font-weight: normal;
  margin-bottom: -20px;
}

.space-between-lots {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.separator {
  width: 100%;
  border-bottom: 2px solid rgb(145, 0, 145);
}

.full-length-back {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px 1px #d5d5d5;
  transition: all 0.2s ease-in-out;
}

.full-length-back:hover {
  box-shadow: 0 0 10px 1px #8a8a8a;
}

.w {
  background-color: white;
}

.g {
  background-color: rgba(128, 128, 128, 0.096);
}

.uploading-image-input {
  border-top: 1px solid #7d7d7d;
  border-bottom: 1px solid #7d7d7d;
  border-radius: 10px 0px 0px 10px;
  width: 100%;
  height: 2rem;
  outline-style: none;
}

.uploading-button-input {
  border-radius: 0 10px 10px 0;
  border: none;
  height: 2rem;
  width: 200px;
  transition: 0.1s all ease-in-out;
}

.uploading-button-input:hover {
  color: white;
  font-weight: bolder;
  background-color: rgba(117, 0, 117, 0.78);
}

.uploading-button-input:focus {
  outline-style: none;
}

.info-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  width: 80%;
  transition: all 0.5s ease-in-out;
}

.info-container-img {
  margin-left: 0rem;
  width: 40%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.info-container-img img {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.27);
}

.info-container-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 0 0 2rem;
  width: 57%;
  height: 100%;
}

.info-container-text-header {
  padding-top: 0rem;
}

.info-container-text-desc {
  padding: 0;
  overflow: auto;
  font-size: 1rem;
  height: 80%;
}

.info-container-under-img-and-desc {
  width: 100%;
  height: 300px;
  background-color: aqua;
}

.color-block-holder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 61%;
  padding: 15px;
}

.color-block {
  display: flex;
  border: 1px solid #575757;
  justify-content: center;
  align-items: center;
  //transform: skew(-20deg);
  height: 50px;
  width: 50px;
  margin: 0 5px 5px 5px;
}

.color-block-text {
  //transform: skew(20deg);
  color: white;
  font-weight: bold;
  user-select: none;
  margin: -20px 0px 0px -20px;
}

.color_checkbox:checked + .color_checkbox_label > div {
  border: 5px solid rgba(0, 0, 0, 0.603);
}

.size-table-div {
  padding: 15px;
}

.position-price {
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 15px;
}

.table td,
.table th {
  border-style: none;
}

.size-type-image {
  margin-top: 55px;
  margin-left: -88px;
  padding-right: 32.39px;
}
